
@{
    ViewBag.Title = "Index";
}

@section scripts{

    <script src="~/Scripts/knockout-3.3.0.js"></script>
    <script type="text/javascript">
        function ProductListViewModel() {
            var self = this;
            self.ProductFilter = ko.observable("");
            self.ProductList = ko.observableArray();
            self.CurrentPage = ko.observable(1);
            self.TotalRecords = ko.observable(0);
            self.Search = function () {
                alert('Buscando Productos con el filtro' + self.ProductFilter());
            }

        }

        var viewModel;
        $(document).ready(function () {
            viewModel = new ProductListViewModel();
            ko.applyBindings(viewModel);

        })

        function SearchProducts() {
            var callAjax = $.ajax({
                url: '@Url.Action("GetProducts", "Product")',
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                cache: false,
                data:'{"productNameFilter":"'+ viewModel.ProductFilter() + '","currentPage":' + viewModel.CurrentPage()+ "}"
            });

            callAjax.done(function (data) {
                viewModel.CurrentPage(data.CurrentPage);
                viewModel.TotalRecords(data.TotalRecords);
                viewModel.ProductList(data.ProductList);

            });

            callAjax.fail(function (data) {
                alert('Error al consultar los registros')
            });
        }

    </script>
}

<h2>Catálogo de Productos - MugPeru</h2>

<fieldset>
    <legend>
        Busqueda de Productos
    </legend>
    <div>
        Product:
        <input type="text" data-bind="value:ProductFilter" />
        <button type="button" data-bind="click: SearchProducts">Buscar</button>

    </div>
    <h1><span data-bind="text:ProductFilter"></span></h1>
    <table class="table">
        <thead>
            <tr>
                <th>Descripcion</th>
                <th>Precio</th>
                <th></th>5
            </tr>
        </thead>
        <tbody data-bind="foreach : ProductList">
            <tr>
                <td><span data-bind="text:Name"></span></td>
                <td><span data-bind="text:UnitPrice"></span></td>
                <td><span data-bind="text:Stock"></span></td>
            </tr>
        </tbody>
    </table>

    <div>
        Pagina Acutal : <b><span data-bind="text:CurrentPage"></span></b>

    </div>

    <div>
        Total Paginas: <b><span data-bind="text:TotalRecords"></span></b>
    </div>
</fieldset>